.address-radio-check + .address-radio-label:before {
  content: "";
  background: #fff;
  border: 2px solid #f44336;
}

ul.category-list-item > li > a {
  font-size: 0.8rem;
  font-weight: bold;
  color: #2a2c2e;
}

ul.category-list-item > li > a:hover {
  color: #e7422c !important;
}

ul.category-list-item > li > ul > li > a:hover {
  color: #2a2c2e !important;
}

